.alert {
    padding: 1rem;
    font-size: 1.8rem;
    font-weight: 600;
    color: $light-color;
    display: flex;
    align-items: center;
    height: 100%;
    animation: animateAlert 1s ease;
    z-index: 10;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
    height: auto;
    backface-visibility: hidden;
    width: 30rem;
    
    &--danger {
        background-color: $danger-color;
    }

    &--success {
        background-color: $success-bg;
    }

    @keyframes animateAlert {
        from {
            opacity: 0;
        } to {
            opacity: 1;
        }
    }
}