$text-color: #333;
$light-gray-1: #eee;
$light-gray-2: #ddd;
$dark-gray-1: #999;
$dark-gray-2: #888;
$dark-color: #222;
$light-color: #fff;
$danger-bg: rgb(245, 123, 123);
$danger-color: rgb(214, 55, 55);
$success-bg: #86D05D;
$blue-color: #b7e5f7;
$light-blue: #d9eaff;
$light-purple: #eee0ff;
$light-red: #ffe2e7;
$light-orange: #fff5ec;